a {
    color: var(--color4);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3rem;
    opacity: .85;
}

.logoVic, .logoVic2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 2.5rem;
    color: var(--color4);
}

.logoVic2 {
    display: none;
    z-index: 200;
    color: var(--color1);
}

.logoVic2.active {
    display: flex;
    position: absolute;
    bottom: 15px;
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;

    width: 100%;
    height: 15vh;
    background-color: var(--color2);
}

.menu__nav {
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    width: 100%;
    height: 100dvh;
    
    background-color: var(--color2);
    

    position: absolute;
    opacity: 0;
    transform: translateY(-300%);
    transition: opacity 1s ease, transform 1s ease;
    z-index: 20;
}

.menu__nav.active {
    opacity: 1;
    visibility: visible;
    transform: translateY(42%);
    transition: opacity 1s ease, transform 1s ease;
}

.container__a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 250px;
}

.container__a a {
    position: relative;
}

.container__a a::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: var(--color3);
    position: absolute;
    bottom: -5px;
    left: 0;
    transition: all .5s ease-in;

}

.container__a a:hover::after {
    opacity: 1;
    width: 100%;
    transition: all .5s ease-out;
}

.container__redes {
    display: flex;
    gap: 50px;
}

.container__redes a{
    font-size: 1.7rem;
}

.container__redes a:hover {
    scale: 1.05;
    transition: scale 1s ease;
}

.container__button {
    position: relative;
}

.buttonMenu {
    font-size: 1.8rem;
    background-color: transparent;
    color: var(--color4);
    position: relative;
    z-index: 100;
    padding: 0;
    top: 7px;
}

.buttonMenu.active {
    right: 0px;
}

@media (min-width: 768px) {
    
    .nav {

        padding: 20px;
    }

    .menu__nav {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        flex-direction: row;
        justify-content: space-evenly;
        height: auto;
    }

    .container__a {
        flex-direction: row;
        align-items: center;
        height: auto;
    }
    
    .container__a a {
        font-size: 2rem;
    }

    .buttonMenu, .container__redes {
        display: none;
    }
}
